@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

body {
    font-size: 15pt;
    background-color: gray;
    text-align: center;
    color: pink;
    font-family: 'Poppins', sans-serif;
}

#my_heading {
    color: pink;
    font-size: xx-large;
}

.header_image {

    height: 400px;
    border-radius: 10%;

}

.btn {
    display: block;
    color: grey;
    padding: 10px;
    background: pink;
    margin: 16px;
}

a {
    text-decoration: none;
    color: pink;
}